<h1>Editar</h1>
<div class="row">
    <div class="col-12">
        <label for="productoNombre">Nombre: </label>
        <input id="productoNombre" />
    </div>
    <div class="col-12">
        <label for="productoDescripcion">Descripcion: </label>
        <input id="productoDescripcion" />
    </div>
    <div class="col-12">
        <label for="productoPrecio">Precio: </label>
        <input id="productoPrecio" />
    </div>
    <div class="col-12">
        <label for="productoTipo">Tipo de Producto:</label>
        <select id="productoTipo"></select>
    </div>
    <div class="col-12">
        <label for="productoActivo">Activo</label>
        <input type="checkbox" id="productoActivo" />
    </div>
    <div class="col-12">
        <img id="productoImg" />
    </div>
    <div class="col-12">
        <label for="fotoNueva">Nueva Foto: </label>
        <br />
        <input type="file" id="fotoNueva" class="form-control" />
    </div>
    <div class="col-12">
        <button class="btn btn-warning" onclick="editarProducto();">Editar</button>
        <button class="btn btn-danger" onclick="eliminarProducto();">Eliminar</button>
        <button class="btn btn-primary" onclick="volverListaProducto();">Volver</button>
    </div>
    
</div>
<div class="toast-container position-fixed bottom-0 end-0 p-3" ></div>

<div style="display:none;">
    @Html.Hidden("URLGetProducto", Url.Action("GetProducto", "Producto"))
    @Html.Hidden("URLProductosList", Url.Action("GetProductosList", "Producto"))
    @Html.Hidden("URLEditProducto", Url.Action("Edit", "Producto"))
    @Html.Hidden("URLGetTiposProducto", Url.Action("GetTiposProducto", "TipoProducto"))
    @Html.Hidden("URLUpdateProducto", Url.Action("UpdateProducto", "Producto"))
    @Html.Hidden("URLGetProductoVista", Url.Action("GetProductoVista", "Producto"))
</div>
<script type="text/javascript" src="~/js/pages/ProductoEdit.js" asp-append-version="true"></script>