
<div class="text-center">
    <h1>Pedido</h1>
</div>

<div class="row" id="pedidoSeleccionado">
    <div class="col-6 col-12">
        <label>Nombre: </label>
        <br />
        <p id="nombreCliente"> </p>
    </div>
    <br />
    <div class="col-6 col-12" style="display:none" id="divDireccion">
        <label>Dirección: </label>
        <br />
        <p id="direccionCliente"> </p>
    </div>
    <br />
    <div class="col-6 col-12" style="display:none" id="divMesa">
        <label>Mesa: </label>
        <br />
        <p id="mesaCliente"> </p>
    </div>
    <br />
    <div class="col-6 col-12">
        <label>Telefono: </label>
        <br />
        <p id="telefonoCliente"> </p>
    </div>
    <br />

    <div class="col-6 col-12">
        <label>Método de pago: </label>
        <br />
        <p id="metodoPago"> </p>
    </div>
    <br />
    <div class="col-6 col-12">
        <label>Estado: </label>
        <br />
        <p id="estadoPedido"> </p>
    </div>
    <br />
    <div class="col-6 col-12">
        <label>Comentario: </label>
        <br />
        <p id="comentarioPedido"> </p>
    </div>
    <br />
    <div id="divProdList" class="row">
        @* acá va la lista de productos *@
    </div>
    <br />
    <div id="botones">
        <button id="btnEstado" class="btn btn-primary"></button>
        <button id="btnCancelar" class="btn btn-danger">Cancelar</button>
        <button id="btnVolver" class="btn btn-warning">Volver</button>
    </div>
</div>

<div style="display:none;">
    @Html.Hidden("URLGetPedido", Url.Action("GetPedido", "Pedido"))
    @Html.Hidden("URLActualizarEstadoPedido", Url.Action("ActualizarEstadoPedido", "Pedido"))
    @Html.Hidden("URLAdministracionPedidos", Url.Action("AdministracionPedidos", "Pedido"))
    @Html.Hidden("URLCancelarPedido", Url.Action("CancelarPedido", "Pedido"))
    @Html.Hidden("URLPedidosFinalizados", Url.Action("PedidosFinalizados", "Pedido"))
</div>

<script type="text/javascript" src="~/js/pages/pedidovista.js" asp-append-version="true"></script>
